.authors {
  margin-left: 10%;
  margin-right: 10%;
}

.menu-authors {
  width: 20%;
  float: left;
}

.link-author {
  display: block;
  height: 2em;
}

.author-detail {
  width: 80%;
}
.btn-primary{
  background-color: #09826d;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #09826d;
    color: white;
}

tr:hover {background-color: #ddd;}

tr:nth-child(even){background-color: #f2f2f2;}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}
